.homepage {
    max-width: 1400px;
    margin: auto;
    padding: 0 2rem 0;

    // TODO...
    h1 {
        color: red;
        text-align: center;
    }

    // TODO...
    p {
        text-align: center;
        margin: 0;
    }
}