.homepage {
    max-width: 1800px;
    margin: auto;
    padding: 0 2rem 0;

    // TODO...
    h1 {
        color: red;
        text-align: center;
    }

    h2 {
        text-align: center;
        margin: 0;
        font-size: 3rem!important;
    }

    // TODO...
    p {
        text-align: center;
        margin: 0;
    }
}