.e-input {
	background: black;
	border: 1px solid  rgb(0, 140, 255);
	border-radius: 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: "Cabin", helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width: 200px;
}

.ie .e-input {
	line-height: 40px;
}

.e-input::-webkit-input-placeholder {
	color: #888;
}

.e-input:-moz-placeholder {
	color: #888;
}

.e-input:focus {
	animation: glow 800ms ease-out infinite alternate;
	// background: #222922;
	// background: linear-gradient(#333933, #222922);
	border-color: rgb(255, 0, 200);
	box-shadow: 0 0 5px rgba(255, 0, 242, 0.2), inset 0 0 5px rgba(134, 11, 138, 0.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}

.e-input:focus::-webkit-input-placeholder {
	color: #efe;
}

.e-input:focus:-moz-placeholder {
	color: #efe;
}

@keyframes glow {
	0% {
		border-color: rgba(255, 0, 200, 0.514);
		box-shadow: 0 0 5px rgba(234, 0, 255, 0.2), inset 0 0 5px rgba(255, 0, 255, 0.1), 0 2px 0 #000;
	}
	100% {
		border-color: rgb(255, 0, 200);
		box-shadow: 0 0 20px rgba(255, 0, 255, 0.6), inset 0 0 30px rgba(247, 0, 255, 0.4), 0 2px 0 #000;
	}
}