.sign-up-form {
    width: 30%;
    margin: auto;

    h1 {
        color: rgb(110, 151, 165);
        text-align: center;
        margin: 0;
    }

    p {
        color: rgb(110, 151, 165);
        text-align: center;
        margin: 0;

        span {
            color: blue;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .neon-borders {
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;;

        .signup-form-button-aligner {
            width: 50%;
            margin: auto;
        }

        button {
            margin-top: 1.4rem;
        }

        form {
            width: 100%;

            input {
                width: 90%;
                margin: auto;
                margin-top: 1.4rem;
            }

            input:last-child {
                margin-bottom: 1.2rem;
            }
        }
    }
}
