    .neon-borders {
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;;

        .signup-form-button-aligner {
            width: 50%;
            margin: auto;
        }

        button {
            margin-top: 1.4rem;
        }

        form {
            width: 100%;
            margin: auto;
            display: contents;

            input {
                width: 90%;
                margin: auto;
                margin-top: 1.4rem;
            }

            input:last-child {
                margin-bottom: 1.2rem;
            }
        }
    }