.clips-page {
	display: flex;
	flex-direction: column;
}

.clip-images {
	display: flex;
	// justify-content: space-between;
	flex-wrap: wrap;
	// align-content: flex-start;
	// align-items: flex-start;
	// justify-items: flex-start;
	

	.clip-card {
		position: relative;
		margin-right: 40px;

		.clip-card-indicator {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			border: 1px solid fuchsia;
			background-color: rgb(0, 255, 21);
			position: absolute;
			right: -10px;
			top: -10px;
			box-shadow: 2px 2px 10px #ff00ff;

			&.main {
				background-color: rgb(0, 247, 255);
			}
		}

		p {
			color: steelblue;
			max-width: 320px;
		}

		.hidden-clip-options {
			display: none;
			width: fit-content;
			height: 100px;
			border: 1px solid lightskyblue;
			background-color: #1a1b21;
			position: absolute;
			z-index: 2;
			right: -100px;
			border-radius: 3px;
			padding: 5px 20px 0 20px;

			p {
				// margin: 0;
			}

			p:hover {
				color: fuchsia;
				cursor: pointer;
			}
		}

		img {
			width: 320px;
			border-radius: 4px;
			box-shadow: 2px 2px 10px #ff00ff;
			// margin-bottom: 40px;
	
			&:hover {
				cursor: pointer;
				box-shadow: 2px 2px 10px #c009c0;

			}
		}

	}
	.clip-card:hover{
		.hidden-clip-options {
			display: block;
			
		}
	}
}

.clip-actions {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	// margin-bottom: 20px;
	position: relative;
	bottom: 20px;

	p {
		letter-spacing: 2px;
	}

	.clips-button {
		width: 200px;
		position: relative;

		button {
			margin: 0;

		}
	}
}