// TODO
.twitch-container {
	// border: 1px solid rgb(102, 29, 29);
	margin-top: 20px;

}

// TODO
.twitch-scroller {
	// border: 1px solid rgb(80, 25, 25);
	height: 350px;
	display: flex;
	// background-color: rgba(32, 32, 32, 0.822);
	// background-color:black;
	border-radius: 4px;
	padding: 20px;

	.twitch-video {
		width: fit-content;
		margin: auto;

		img {
			border-radius: 10px
		}

		&.queued {
			img {
				opacity: 0.5;
			}
		}

		&.playing {
			margin-top: -5px;
		}
	}
}

// TODO
.twitch-thumbnail-container {
	// border: 1px solid rgb(58, 4, 4);
	height: 300px; // TODO -> height will be fit-content

	.twitch-thumbnail {
		width: 200px;
	}
}