// TODO
.twitch-container {
	border: 1px solid rgb(102, 29, 29);
	

}

// TODO
.twitch-scroller {
	border: 1px solid rgb(80, 25, 25);
	height: 350px;
	display: flex;
	

	.twitch-video {
		width: fit-content;
		margin: auto;
	}
}

// TODO
.twitch-thumbnail-container {
	border: 1px solid rgb(58, 4, 4);
	height: 300px; // TODO -> height will be fit-content

	.twitch-thumbnail {
		width: 200px;
	}
}